#  Local .terraform directories
.terraform/
**/plan
**/destroyplan

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tf-e
**/test.*
terraform.tfvars
secrets.tfvars
secrets.auto.tfvars
.terraform.lock.hcl

.vscode/launch.json
